.cd {
    height: 185vh;
    width: 185vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 105vh;
    left: 50vw;
    transition: all .5s ease-in-out;
}

.cdActive {
    top: calc(50vh + 60px);
}

.cdIndex1 {
    transform: translate(-50%, -50%) rotateZ(0deg);
}

.cdIndex2 {
    transform: translate(-50%, -50%) rotateZ(90deg);
}

.cdIndex3 {
    transform: translate(-50%, -50%) rotateZ(180deg);
}

.cdIndex4 {
    transform: translate(-50%, -50%) rotateZ(270deg);
}

.cdBg { 
    position: absolute;
    border-radius: 999999px;
    background: radial-gradient(circle, transparent 10%, #F2F2F2 10%);
    width: 100%;
    height: 100%;
}

.cdNav {
    background: radial-gradient(circle, transparent calc(100% / var(--phi-3)), #DFDFDF 10%);
    position: absolute;
    width: calc(185vh / var(--phi-4));
    height: calc(185vh / var(--phi-4));
    display: block;
    border-radius: 999999px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.cdActive .cdNav {
    cursor: auto;
}

.cdNav div {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 999;
}

.cdNav svg {
    cursor: pointer;
}

.cdNav div:first-child {
    left: 50%;
    top: 17%;
}

.cdNav div:first-child path {
    fill: var(--color-1);
}

.cdNav div:nth-child(2) {
    left: 83%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(90deg);
}

.cdNav div:nth-child(2) path {
    fill: var(--color-2);
}

.cdNav div:nth-child(3) {
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%) rotateZ(180deg);
}

.cdNav img {
    width: 30px !important;
    min-width: 30px !important;
    max-width: 30px !important;
    
    height: 30px !important;
    min-height: 30px !important;
    max-height: 30px !important;
}

.cdNav div:nth-child(3) rect {
    fill: var(--color-3);
}

.cdNav div:nth-child(4) {
    left: 17%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(270deg);
}

.cdNav div:nth-child(4) path {
    fill: var(--color-4);
}

.section {
    display: block;
    position: absolute;
    width: 30%;
    height: 30%;
    max-width: 95vw;
    max-height: 80vh;
}

.section1 {
    /* background-color: var(--color-1); */
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section2 {
    /* background-color: var(--color-2); */
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.section3 {
    /* background-color:var(--color-3); */
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section4 {
    /* background-color: var(--color-4); */
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

/* Dropshadow for nav items */

/* Nav 0 active */
.cdNav div g * {
    transition: filter .3s ease-in-out;
}

.nav-active-0 div:first-child g * {
    filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-0 div:nth-child(2) g * {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-0 div:nth-child(3) g * {
    filter: drop-shadow(2px -2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-0 div:nth-child(4) g * {
    filter: drop-shadow(-2px -2px 1px rgba(0, 0, 0, 25%));
}

/* Nav 1 active */
.nav-active-1 div:first-child g * {
    filter: drop-shadow(-2px -2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-1 div:nth-child(2) g * {
    filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-1 div:nth-child(3) g * {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-1 div:nth-child(4) g * {
    filter: drop-shadow(2px -2px 1px rgba(0, 0, 0, 25%));
}

/* Nav 2 active */
.nav-active-2 div:first-child g * {
    filter: drop-shadow(2px -2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-2 div:nth-child(2) g * {
    filter: drop-shadow(-2px -2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-2 div:nth-child(3) g * {
    filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-2 div:nth-child(4) g * {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 25%));
}

/* Nav 3 active */
.nav-active-3 div:first-child g * {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-3 div:nth-child(2) g * {
    filter: drop-shadow(2px -2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-3 div:nth-child(3) g * {
    filter: drop-shadow(-2px -2px 1px rgba(0, 0, 0, 25%));
}
.nav-active-3 div:nth-child(4) g * {
    filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 25%));
}