:root {
    --phi-1: 1.618;
    --phi-2: calc(var(--phi-1) * var(--phi-1) );
    --phi-3: calc(var(--phi-2) * var(--phi-1) );
    --phi-4: calc(var(--phi-3) * var(--phi-1) );
    --phi-5: calc(var(--phi-4) * var(--phi-1) );
    --phi-6: calc(var(--phi-5) * var(--phi-1) );
    --phi-7: calc(var(--phi-6) * var(--phi-1) );

    --circle-radius: 9999999px;

    --color-1: palevioletred;
    --color-2: palegoldenrod;
    --color-3: palegreen;
    --color-4: paleturquoise;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Fredoka One;
    line-height: 1.6;
    font-size: 18px;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background: url('/images/wood-background-horizontal.jpg');
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.react-colorful {
    position:absolute !important;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.large {
    font-size: 3rem;
}

.medium {
    font-size: 2rem;
}

.small {
    font-size: 1rem;
}