html,
body {
    padding: 0;
    margin: 0;
    font-family: Fredoka One;
    line-height: 1.6;
    font-size: 18px;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}