.jar {
    position:absolute;
    width: 227px;
    height: 227px;
    border-radius: var(--circle-radius);
    background-color: rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    position:absolute;
    width: calc(227px / var(--phi-2));
    height: calc(227px / var(--phi-2));
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--circle-radius);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rim {
    position:absolute;
    width: 227px;
    height: 227px;
    background: radial-gradient(circle, transparent 40%, rgba(255, 255, 255, 0.3) 40%);
    border-radius: var(--circle-radius);
}

.item {
    height: 20px;
    width: 20px;
    position:absolute;
    background-color: var(--color-1);
    top: 34%;
    left: 20%;
}