.jar {
    position:absolute;
    width: 300px;
    height: 300px;
    max-width: 90vw;
    max-height: 90vw;
    /* border-radius: var(--circle-radius); */
    /* background-color: rgba(255, 255, 255, 0.2); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
}

.bottom {
    position:absolute;
    width: 74px;
    height: 74px;
    max-width: 30vw;
    max-height: 30vw;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* border-radius: var(--circle-radius); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rim {
    position:absolute;
    width: 300px;
    height: 300px;
    max-width: 90vw;
    max-height: 90vw;
    /* background: radial-gradient(circle, transparent 40%, rgba(255, 255, 255, 0.3) 40%); */
    /* border-radius: var(--circle-radius); */
    display: block;
    top: 0;
    left: 0;
    pointer-events: none;
}
.rim g {
    backdrop-filter: blur(5px);
}

.itemList {
    position:relative;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: var(--circle-radius);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
        "firstRowStart firstRowStart firstRowStart . . firstRowEnd firstRowEnd firstRowEnd"
        "secondRowStart secondRowStart . . . . secondRowEnd secondRowEnd"
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        ". . . . . . . ."
        "seventhRowStart seventhRowStart . . . . seventhRowEnd seventhRowEnd"
        "eigthRowStart eigthRowStart eigthRowStart . . eigthRowEnd eigthRowEnd eigthRowEnd";
    place-items: center;
}

.group {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.group > div {
    width: 50px;
    height: 50px;
}

.item {
    max-height: 35px;
    max-width: 35px;
}

.item:nth-child(1) {
    grid-area: firstRowStart;
    place-self: end;
}

.item:nth-child(4) {
    grid-area: firstRowEnd;
    place-self: start;
}

.item:nth-child(5) {
    grid-area: secondRowStart;
    place-self: end;
}

.item:nth-child(10) {
    grid-area: secondRowEnd;
    place-self: start;
}

.item:nth-child(43) {
    grid-area: seventhRowStart;
    place-self: end;
}

.item:nth-child(48) {
    grid-area: seventhRowEnd;
    place-self: start;
}

.item:nth-child(49) {
    grid-area: eigthRowStart;
    place-self: end;
}

.item:nth-child(52) {
    grid-area: eigthRowEnd;
    place-self: start;
}

.message {
    z-index: 99;
    position:absolute;
    left: 50%;
    /* top: 30%; */
    transform: translate(-50%, -50%);
}