.startCD {
    position: absolute;
    width: calc(100vw / var(--phi-1));
    height: calc(100vw / var(--phi-1));
    max-width: 500px;
    max-height: 500px;
    min-width: 266px;
    min-height: 266px;
    border-radius: 0;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    background-color: white;
    display: block;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.startCD:not(.showForm) {
    border-radius: 50%;
}

.loginButton {
    position: absolute;
    width: calc(100vw / var(--phi-1) / 2);
    height: calc(100vw / var(--phi-1));
    max-width: 250px;
    max-height: 500px;
    min-width: 133px;
    min-height: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palevioletred;
    z-index: 2;
    left: 0;
    top: 0;
    border-top-left-radius: var(--circle-radius);
    border-bottom-left-radius: var(--circle-radius);
    transition: all .5s ease-in-out;
    cursor: pointer;
    color: white;
}

.middleSeparator {
    position: absolute;
    width: calc(100vw / var(--phi-4));
    height: calc(100vw / var(--phi-4));
    max-width: calc(500px / var(--phi-4));
    max-height: calc(500px / var(--phi-4));
    min-width: calc(266px / var(--phi-4));
    min-height: calc(266px / var(--phi-4));
    display: block;
    background-color: paleturquoise;
    border-radius: var(--circle-radius);
    z-index: 3;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: transparent;
    transition: all .5s ease-in-out;
    margin-top: 50%;
}

.registerButton {
    position: absolute;
    width: calc(100vw / var(--phi-1) / 2);
    height: calc(100vw / var(--phi-1));
    max-height: 500px;
    max-width: 250px;
    min-width: 133px;
    min-height: 266px;
    background-color: palegoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    right: 0;
    top: 0;
    border-top-right-radius: var(--circle-radius);
    border-bottom-right-radius: var(--circle-radius);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.showForm .loginButton {
    left: -50%;
}

.submitButton.middleSeparator {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.submitButton.loginSubmit {
    background: palevioletred;
    color: white; 
}

.submitButton.registerSubmit {
    background-color: palegoldenrod;
    color: black; 
}

.showForm .registerButton {
    right: -50%;
}