.heading2X1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingX1 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.button {
    position: relative;
    height: 40px;
    width: 40px;
    box-shadow: -2.24px 1.24px 2.56px 0 #C9C9C9 inset, 2.24px -1.24px 2.56px 0 #FFFFFF inset, 0 1px 1px 0 rgba(0, 0, 0, 25%);
    background: linear-gradient(to bottom right, #D4D4D4, #FFFFFF);
}

.round {
    border-radius: 50px;
}

.rounded {
    border-radius: 4px;
}

.quoteIcon {
    margin-left: 60px;
    margin-right: 24px;
}

.quoteIcon::before {
    content: '';
    background: url('/images/quotes.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position: relative;
    display: block;
    background-position: center;
    left: -45px;

}

.fillWidth {
    width: calc(100vw - 60px * 3 - 14px);
}