.heading2X1 {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingX1 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.cd {
    height: 185vh;
    width: 185vh;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 105vh;
    left: 50vw;
    transition: all .5s ease-in-out;
}

.cdActive {
    top: calc(50vh + 60px);
}

.cdIndex1 {
    transform: translate(-50%, -50%) rotateZ(0deg);
}

.cdIndex2 {
    transform: translate(-50%, -50%) rotateZ(90deg);
}

.cdIndex3 {
    transform: translate(-50%, -50%) rotateZ(180deg);
}

.cdIndex4 {
    transform: translate(-50%, -50%) rotateZ(270deg);
}

.cdBg { 
    border-radius: 999999px;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
}

.cdNav {
    background-color: #DFDFDF;
    position: absolute;
    width: calc(185vh / var(--phi-4));
    height: calc(185vh / var(--phi-4));
    display: block;
    border-radius: 999999px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cdNav svg {
    position: absolute;
    transform: translate(-50%, -50%)
}

.cdNav svg:first-child {
    left: 50%;
    top: 17%;
}

.cdNav svg:nth-child(2) {
    left: 17%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(90deg);
}

.cdNav svg:nth-child(3) {
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%) rotateZ(180deg);
}

.cdNav svg:nth-child(4) {
    left: 83%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(270deg);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #DFDFDF;
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.header::after {
    content: '';
    width: 100vw;
    height: 4px;
    background: linear-gradient(to bottom, #DFDFDF, #C4C4C4);
    position:absolute;
    bottom: -4px;
    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, 25%);
    left:0;
}

.button {
    position: relative;
    height: 40px;
    width: 40px;
    box-shadow: -2.24px 1.24px 2.56px 0 #C9C9C9 inset, 2.24px -1.24px 2.56px 0 #FFFFFF inset, 0 1px 1px 0 rgba(0, 0, 0, 25%);
    background: linear-gradient(to bottom right, #D4D4D4, #FFFFFF);
}

.round {
    border-radius: 50px;
}

.rounded {
    border-radius: 4px;
}

.quoteIcon {
    margin-left: 60px;
    margin-right: 24px;
}

.quoteIcon::before {
    content: '';
    background: url('/images/quotes.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position: relative;
    display: block;
    background-position: center;
    left: -45px;

}

.fillWidth {
    width: calc(100vw - 60px * 3 - 14px);
}