.layout {

}

.pencil {
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
}

.shapes {
    position: relative;
    list-style: none;
    width: 50px;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.message {
    position: relative;
    float: left;
    max-width: calc(100% - 100px);
    height: 100%;
    padding: 0 12px;
}

.message textarea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100px;
    appearance: none;
    background-color: transparent;
    border: none;
}



.message textarea:focus {
    /* background-color: white; */

}