.pencil {
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    z-index: 1;
}

.shapes {
    position: relative;
    list-style: none;
    width: 50px;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.shape {
    margin: 8px;
    cursor: pointer;
}

.message {
    position: relative;
    float: left;
    max-width: calc(100% - 100px);
    height: 100%;
    padding: 0 12px;
}

.folded {
    position: fixed;
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.folded > div {
    max-height: 100px;
    max-width: 100px;
    height: auto;
    width: 100px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.folded svg {
    filter: var(--filter-drop-shadow);
    transition: filter .5s ease-in-out;
}

.folded:not(.messageDragArea) > div {
    transition: left .5s ease-in-out;
}

.messageDragArea svg {
    filter: var(--filter-drop-shadow-high);
}

.messageDragArea::before {
    content: '';
    width: calc(100px * var(--phi-1));
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--circle-radius);
    border: 1px solid var(--color-1);
}

.dogEar {
    z-index: 15;
    position: absolute;
}

.message textarea {
    position: relative;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.textareaWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* width: 80%;
    height: 100px; */
}

/* .textareaWrapper::after {
    content:"";
    border-top: 20px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 3;
    opacity: 0.5;
    position: absolute;
    right: -18px;
    bottom: -3px;
    pointer-events: none;
} */
.pullTab {
    height: 0px;
    width: 0px;
    border-top: 20px solid cyan;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    bottom: 0px;
    right: -15px;
    pointer-events: none;
    z-index: 4;
}

